@font-face {
    font-family: "ithral";
    src: url(asset/font/ithra-light.otf) format("opentype");
}

@font-face {
    font-family: "ithrab";
    src: url(asset/font/ithra-bold.otf) format("opentype");
}

@font-face {
    font-family: "ithram";
    src: url(asset/font/ithra-medium.otf) format("opentype");
}

body {
    height: 1024px;
    width: 1366px;
    max-width: 1366px;
    max-height: 1024px;
    background-color: #A8BC4D;
}

.cel {
    position: absolute;
    margin-top: 78px;
    margin-left: 78px;
    width: 66px;
}

.hkaya {
    position: absolute;
    margin-top: 107px;
    margin-left: 589px;
}

.logo {
    position: absolute;
    margin-top: 78px;
    margin-left: 1182px;
}

.title {
    margin-left: 568px;
    position: absolute;
    color: #768a1b;
    margin-top: 337px;
    font-family: 'ithram';
    font-size: 36px;
}

.q {
    position: absolute;
    color: #304A2e;
    margin-top: 418px;
    margin-left: 246px;
    font-family: 'ithrab';
    font-size: 36px;
}

.q1 {
    position: absolute;
    color: #304A2e;
    margin-top: 418px;
    margin-left: 550px;
    font-family: 'ithrab';
    font-size: 36px;
}

.text {
    position: absolute;
    margin-top: 551px;
    margin-left: 498px;
    height: 56px;
    width: 535px;
    border-radius: 74px;
    border: #dddd;
    text-align: right;
    font-family: 'ithral';
    font-size: 18px;
    color: #717171;
    padding-right: 26px;
}

.submit {
    background-color: #43287e;
    color: #ffff;
    position: absolute;
    margin-top: 551px;
    margin-left: 334px;
    width: 146px;
    height: 56px;
    border-radius: 35px;
    border: 0px;
    font-family: 'ithrab';
    font-size: 16px;
}

.lines {
    position: absolute;
    width: 1373px;
    margin-top: 766px;
    margin-left: -7px;
}

.box {
    position: absolute;
    background-color: #a1b54a;
    width: 634px;
    height: 430px;
    margin-top: 270px;
    margin-left: 366px;
    border-radius: 40px;
}

.right {
    position: absolute;
    margin-top: 56px;
    margin-left: 248px;
}

.mass {
    position: absolute;
    color: #304A2e;
    font-family: 'ithram';
    font-size: 36px;
    font-style: bold;
    margin-top: 216px;
    margin-left: 151px;
}

.next {
    background-color: #43287e;
    color: #ffff;
    position: absolute;
    font-family: 'ithrab';
    font-size: 16px;
    margin-top: 328px;
    margin-left: 174px;
    width: 286px;
    height: 56px;
    border-radius: 35px;
    border: 0px;
}

.team {
    font-family: 'ithram';
    font-size: 36px;
    position: absolute;
    margin-top: 930px;
    margin-left: 78px;
    color: #304A2e;
}

.teamE {
    font-family: 'ithram';
    font-size: 36px;
    position: absolute;
    margin-top: 930px;
    margin-left: 78px;
    color: #304A2e;
}

.teamS {
    font-family: 'ithram';
    font-size: 36px;
    position: absolute;
    margin-top: 930px;
    margin-left: 78px;
    color: #304A2e;
}

.teamW {
    font-family: 'ithram';
    font-size: 36px;
    position: absolute;
    margin-top: 930px;
    margin-left: 78px;
    color: #304A2e;
}